@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Josefin sans", sans-serif;
  font-size: 1.2rem;
  background-color: hsl(0, 7%, 95%);
}

body.dark-mode{
  background-color: hsl(235, 21%, 11%);
}

#light_image, #dark_image{
  max-width: 100%;
}

.header {
  background-image: url('../images/bg-desktop-light.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 50vh;
}

body.dark-mode .header{
  background-image: url('../images/bg-desktop-dark.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 50vh;
}

.container {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
}

.hero {
  display: flex;
  justify-content: space-between;
}

.hero_text,
.hero_img {
  padding: calc(2.5rem + .5vw) 0;
  color: white;
}

#dark_image{
  display: none;
}

.hero_img.active #dark_image {
  display: block;
}

.hero_img.active #light_image {
  display: none;
}

.hero_text {
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-size: calc(2rem + .5vw);
  font-weight: 700;
}

.input_box {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  margin-bottom: calc(1.5rem + .5vw);
}

input::placeholder {
  padding-left: 0.5rem;
  font-size: calc(1rem + .7vw);
  font-weight: 500;
  color: hsl(236, 9%, 61%);
}

#task_box {
  flex-grow: 1;
  padding: calc(0.5rem + 1vw) 0;
  border: 0.2rem solid white;
  border-radius: 1rem;
  color: rgb(39, 39, 39);
  font-size: 2rem;
  font-weight: 400;
}

body.dark-mode #task_box{
  background-color: hsl(235, 24%, 19%);
  border: .1rem solid hsl(235, 24%, 19%);
  color: hsl(236, 33%, 92%);
}

.plus {
  color: white;
  font-size: 3rem;
  opacity: 0.6;
  padding: calc(0.2rem + 1vw);
  border: 0.2rem solid white;
  border-radius: 1rem;
  display: flex;
  align-content: center;
}

.task_section {
  background-color: white;
  text-align: center;
  min-height: 75vh;
  border: 0.1rem solid white;
  border-radius: 1rem;
  font-size: 2rem;
  color: hsl(235, 19%, 35%);
  margin-bottom: 1rem;
}

body.dark-mode .task_section{
  background-color: hsl(235, 24%, 19%);
  border: .1rem solid hsl(235, 24%, 19%);
  color: hsl(236, 33%, 92%);
}

.footer {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: white;
  color: hsl(236, 9%, 61%);
  font-size: calc(1rem + .5vw);
  font-weight: 900;
}

body.dark-mode .footer{
  background-color: hsl(235, 24%, 19%);
  color: hsl(236, 33%, 92%);
}

.center_text {
  display: flex;
  margin: 0 auto;
  gap: 0.75rem;
}

#right_text {
  margin-right: 0.75rem;
  cursor: pointer;
}

.left_text {
  margin-left: 0.75rem;
}

.last_sec {
  padding: 1rem 0;
  text-align: center;
}

.last_text {
  color: hsl(236, 9%, 61%);
  margin: 0 auto;
  font-size: 1rem;
}

.task_style {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.text_style {
  color: hsl(236, 9%, 61%);
}

body.dark-mode .text_style{
  color: hsl(236, 33%, 92%);
}

.text_style.active {
  text-decoration: line-through;
  text-decoration-thickness: 5px;
}

body.dark-mode .text_style.active{
  text-decoration-color: hsl(235, 21%, 11%);
}

.text_style::first-letter {
  text-transform: capitalize;
}

.icon {
  font-size: 1.5em;
  color: hsl(236, 9%, 61%);
}

.icon.active {
  color: hsl(235, 60%, 57%);
}

.active-button {
  color: hsl(235, 60%, 57%);
}

#all, #active_task, #comp, .left_text{
  cursor: pointer;
}


@media (max-width: 650px) {
  .hero_text,
.hero_img {
  padding: calc(2rem + .5vw) 0;
}
  .header {
  background-image: url('../images/bg-mobile-light.jpg');
}

body.dark-mode .header{
  background-image: url('../images/bg-mobile-dark.jpg');
}
  #task_box {
  max-width: 80%;
}

.plus{
  max-width: 20%;
  /* font-size: calc(3rem - 2vw); */
  font-size: 1.5rem;
  padding: 1rem;
}
 .footer{
  font-size: calc(.5rem + .5vw);
 }
}

@media (min-width: 800px) {
  .container,
  .footer,
  .input_box {
    width: 50%;
    max-width: 900px;
  }
  .task_section {
    min-height: 65vh;
  }
}
