@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Josefin sans', sans-serif;
    font-size: 1.2rem;
    background-color: hsl(0, 7%, 95%);
}

.header_container{
    background-image: url(/images/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 60vh;
}

.container{
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.hero_text, .hero_img{
    padding: 3rem 0;
    color: white;
}

.hero_text{
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.input_box{
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

input::placeholder{
    padding-left: .5rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: hsl(236, 9%, 61%);
}

#task_box{
    flex-grow: 1;
    padding: .5rem 0;
    border: .2rem solid white;
    border-radius: 1rem;
    color: rgb(39, 39, 39);
    font-size: 2rem;
    font-weight: 400;
    text-transform: capitalize;
}
.plus{
    color: white;
    font-size: 3rem;
    opacity: .6;
    padding: .2rem;
    border: .2rem solid white;
    border-radius: 1rem;
}

.task_section{
    background-color: white;
    display: flex;
    justify-content: center;
    min-height: 75vh;
    border: .2rem solid white;
    border-radius: 1rem;
    font-size: 2rem;
    color: hsl(235, 19%, 35%);
    margin-bottom: 2rem;
}

.task_text{
    margin: auto 0;
}

.footer{
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: white;
    color: hsl(236, 9%, 61%);
    font-size: 1rem;
    font-weight: 800;
}

.center_text{
    display: flex;
    margin: 0 auto;
    gap: .75rem;
}

.right_text{
    margin-right: .75rem;
}

.left_text{
    margin-left: .75rem;
}

.last_sec{
    margin-top: 4rem;
}

.last_text{
    color: hsl(236, 9%, 61%);
    margin: 0 auto;
    font-size: 1rem;
}

@media (min-width: 800px){
.container, .footer, .input_box{
    width: 50%;
    max-width: 900px;
}

.hero_text, .hero_img{
    padding: 3.5rem 0;
}

.hero_text{
    font-size: 3rem;
}

.input_box{
    margin-bottom: 2.5rem;
}

input::placeholder{
    font-size: 1.5rem;
    font-weight: 600;
}

#task_box{
    padding: 2rem 0;
}

.plus{
    padding: 1rem;
}

.task_section{
    min-height: 65vh;
}
}